// tell nextflow what files to run if I run $ nextflow run [github url]
manifest {
    name            = 'funghub/PFAS_project'
    description     = 'Pipeline for PFAS data trimming and QC'
    author          = 'Lawrence Fung'
    mainScript      = 'code.nf'  // This tells Nextflow which file to run
    nextflowVersion = '!>=23.04.0'
}

process{
    // Default for all processes (acts as a fallback)
    cpus = 1
    memory = 4.GB
    time = 1.h  // MUST PUT TIME OR ELSE NOT RUN

    //  Process specific limits globally regardless of profile
    
    withName: FASTP {
        cpus = 2
        memory = 8.GB
        time = 2.h  // MUST PUT TIME OR ELSE NOT RUN
    }  
    withName: FASTQC {
        cpus = 2
        memory = 8.GB
        time = 1.h 
    }
    withName: MULTIQC {
        cpus = 4
        memory = 32.GB
        time = 1.h  
    }

    withName: samtools_index {
        cpus = 1
        memory = 4.GB
        time = 1.h
        maxForks = 10
    }

    withName: MULTIQC_markdups_flagstat {
        cpus = 4
        memory = 32.GB
        time = 1.h  
    }

    withName: feature_counts {
        cpus = 8
        memory = 32.GB
        time = 1.h  
    }
}

profiles{
    spartan_hpc{  // to debug run nextflow config -profile spartan_hpc
    // run with nextflow run [file.nf] -profile spartan_hpc
    // nextflow run multiqc.nf -profile spartan_hpc
        process{
            executor = 'slurm'
            queue = 'nodes' // default for all processes
        
            //  Process specific limits globally specific to profile

            withName: STAR_index {
            cpus = 12
            memory = 50G
            time = 2.h  
            queue = 'himem'
            }

            withName: STAR_align {
            cpus = 8
            memory = 40G
            time = 4.h  
            queue = 'nodes'
            maxForks = 15
            }

            withName: picard_mark_duplicates {
            // beforeScript = 'source /scratch/home/lfung/miniconda3/etc/profile.d/conda.sh && conda activate picard_env'
            // afterScript = 'conda deactivate'
            cpus = 4
            memory = 40G
            time = 4.h  
            queue = 'nodes'
            maxForks = 15
            }
        }

        // Conda configs outside of process
        conda {
            enabled = true // run conda in nf code
            cacheDir = "${System.getenv('HOME')}/.nextflow/conda"
        }
    }
}


params {
    results = "nf_output-logs"
    input_dir  = 'PRJNA1137368' // Default input directory, but user can still specific at command line
    output_dir = 'results'  // Default output directory
}

trace {
    enabled = true
    file = "${params.results}/pipeline_info/trace.txt"
    overwrite = true
    fields = 'task_id,hash,native_id,process,tag,status,exit,submit,start,complete,duration,realtime,%cpu,%mem,rss,peak_rss'
}

timeline {
    enabled = true
    file = "${params.results}/pipeline_info/timeline.html"
    overwrite = true
}

report {
    enabled = true
    file = "${params.results}/pipeline_info/report.html"
    overwrite = true
}

dag {
    enabled = true
    file = "${params.results}/pipeline_info/dag.svg"
    overwrite = true
}
